extends layout


block content
  h1 #{title}


  form(method='POST' action='')
    div.form-group
      p Do you really want to delete this BookInstance?
      input#bookinstanceid.form-control(type='hidden',name='bookinstanceid', required='true' value=bookinstance._id)

    button.btn.btn-primary(type='submit') Delete

  if errors
    ul
      for error in errors
        li!= error.msg
  